/* unvisited link */
a:link {
  color: var(--colorBranco);
}

/* visited link */
a:visited {
  color: var(--colorBranco);
  opacity: 85%;
}

/* mouse over link */
a:hover {
  color: var(--colorBranco);
  opacity: 85%;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: var(--colorBranco);
  opacity: 85%;
}

.section-intro a {
  color: #000000;
  opacity: 85%;
}

.box a {
  font-size: 20px;
  color: #632F6E;
}
