h1 {
  font-family: "Aclonica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20vw;

  line-height: 263px;
  letter-spacing: -0.09em;
}

h6 {
  font-style: normal;
  font-size: 10.5vw;
  letter-spacing: -0.06em;
  font-weight: 400;
  font-style: normal;
  line-height: auto;
  color: rgba(0, 0, 0, 0.62);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 133.2%;
  font-family: acumin-pro, sans-serif;
  /* or 30px */

  letter-spacing: -0.03em;
}

.p2 {
  font-style: normal;
  font-weight: 400;

  font-size: 1.3vw;
}

.bold {
  font-weight: bold;
}

h2 {
  font-style: normal;
  font-size: 3.5vw;
  letter-spacing: -0.06em;
  font-weight: 400;
  font-style: normal;
  line-height: 4vw;
  color: rgba(0, 0, 0, 0.62);
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.9vw;
  line-height: 133.2%;

  letter-spacing: -0.03em;
  color: rgba(138, 138, 138, 1);
}

h4 {
  font-family: acumin-pro-wide, sans-serif;
  font-style: normal;
  font-size: 100px;
  letter-spacing: -0.06em;
  font-weight: 400;

  line-height: 113.4%;
  color: #000000;
}

h5 {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 180px;

  text-transform: uppercase;
  color: #FFFFFF;
}

a {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  text-decoration: none;

  line-height: 133.2%;
  font-family: acumin-pro, sans-serif;
  /* or 30px */

  letter-spacing: -0.03em;
}

span {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  color: #632F6E;
}

footer p {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  cursor: pointer;
  padding-top: 32px;
  text-decoration: none;
}

.section-intro .eyebrow {
  color: #808080;
  margin-top: 16px;
}

.card .eyebrow {
  margin-top: 16px;
}

@media (max-width: 1440px) {
  a {
    font-size: 16px;
  }

  p {
    font-size: 24px;
  }

  p a {
    font-size: 16px;
  }

  h2 {
    font-style: normal;
    font-size: 48px;
    line-height: 113.4%;
    letter-spacing: -0.06em;
  }

  h3 {
    font-size: 24px;
    line-height: 111.2%;
  }

  h4 {
    font-size: 56px;
  }

  h5 {
    font-size: 138px;
  }

  span {
    font-size: 16px;
  }
}

@media (max-width: 1028px) {
  h4 {
    font-size: 56px;
  }
}

@media (max-width: 900px) {
  h2 {
    font-style: normal;
    font-size: 46px;
    line-height: 113.4%;
    letter-spacing: -0.06em;
  }

  h5 {
    font-size: 138px;
    padding-top: 0px;
  }

  h4 {
    font-size: 48px;
  }
}
@media (max-width: 600px) {
  a {
    font-size: 16px;
  }

  p {
    font-size: 24px;
  }

  p a {
    font-size: 16px;
  }

  h2 {
    font-style: normal;
    font-size: 28px;
    line-height: 113.4%;
    letter-spacing: -0.06em;
  }

  h3 {
    font-size: 24px;
    line-height: 111.2%;
  }

  h5 {
    font-size: 90px;
  }

  span {
    font-size: 16px;
  }
}
